<h1>Мармеладний Кіт</h1>
<ul>
  <li>
    Марррммеладна насолода 🐈
  </li>
  <li>
    200 видів корисних цукерок
  </li>
  <li>
    альтернатива звичним солодощам
  </li>
  <li>
    скоро у твоєму місті (або обирай НП🚚)
  </li>
</ul>
<div class="row">

<%= render @sweet_products%>

</div>
